@mixin calc-shadow {
  box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(#000, 0.4);
}

.keypad-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: var(--keypad-height);
  padding: 2%;
  width: var(--keypad-width);
  // margin-top: 1%;
}

.numbers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80%;
  width: 75%;
}

.operators-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80%;
  width: 25%;
}

.submit-container {
  height: 20%;
  width: 100%;
  margin-top: 6%;
}