@mixin shadow {
  box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(#000, 0.4);
}

.calculator-container {
  @include shadow;
  background-color: var(--calculator-background-color);
  height: var(--calculator-height);
  width: var(--calculator-width);
  border-radius: 20px;
  padding: 1rem;
}
