@mixin ishadow {
  box-shadow: inset -6px -6px 9px #fff, inset 6px 6px 9px rgba(#000, 0.4);
}

@mixin display-text{
  text-shadow: 6px 6px 9px rgba(#000, 0.4);
}

.display-container {
  @include ishadow;
  border-radius: 20px;
  align-items: center;
  background: #e9e9e9;
  display: flex;
  padding: 0 4%;
  height: var(--display-height);
  width: var(--display-width);
}

.display-value {
  @include display-text();
  // text-emphasis: outline;
  color: var(--display-text-color);
  font-size: var(--display-text-size);
  font-family: var(--main-font);
  font-weight: var(--display-text-weight);
  margin-left: auto;
  overflow: hidden;
}