@mixin key-shadow {
  box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(#000, 0.4);
}

@mixin active-shadow {
  box-shadow: inset -6px -6px 9px #fff, inset 6px 6px 9px rgba(#000, 0.4);
}

.key-container {
  align-items: center;
  display: flex;
  height: 20%;
  justify-content: center;
  transition: background-color 0.3s linear;
  border-radius: 70px;
}

.key-container:hover {
  cursor: pointer;
}

.operator-key {
  @include key-shadow();
  background-color: var(--number-key-color);
  width: 80%;
  margin: 9%;
  &:hover,
  &:active {
    background-color: var(--key-color-hover);
  }
  &:active {
    @include active-shadow();
  }
}



.number-key {
  background-color: var(--number-key-color);
  width: calc(80%/3);
  @include key-shadow;
  margin: 3%;
  margin-left: 3.6%;
  &:hover,
  &:active {
    background-color: var(--key-color-hover);
  }
  &:active {
    @include active-shadow();
  }
}

.submit-key {
  @include key-shadow;
  background-color: var(--submit-key-color);
  height: 100%;
  width: 100%;
  &:hover,
  &:active {
    background-color: var(--submit-operator-key-color-hover);
  }
  &:active {
    @include active-shadow();
  }
}

.key-value {
  color: var(--key-text-color);
  font-family: var(--main-font);
  font-size: var(--key-text-size);
  font-weight: var(--key-text-weight);
}
